extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  <meta name="description" content="Yoda Flow" />
  <meta name="title" property="og:title" content="Yoda Flow" />
  <meta property="og:type" content="Website" />
  <meta name="image" property="og:image" content="https://i.imgur.com/K9MheVd.png" />
  <meta name="description" property="og:description" content="Yoda Flow App" />


block content
  div(class='landing__title')
    h1 Yoda Flow
    p your go to starwars questions and answers

  div(class='grid__container')
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/phantom.jpg", alt="episode 1")
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/clones.png", alt="episode 2")
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/sith.png", alt="episode 3")
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/hpe.png", alt="episode 4")
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/empire.png", alt="episode 5")
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/jedi.png", alt="episode 6")
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/force.png", alt="episode 7")
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/lastjedi.png", alt="episode 8")
    div(class='grid__logo__container')
      a(href="/questions")
        img(class='grid__logo' src="/rise.png", alt="episode 9")
