extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  <meta name="description" content="Yoda Flow" />
  <meta name="title" property="og:title" content="Yoda Flow" />
  <meta property="og:type" content="Website" />
  <meta name="image" property="og:image" content="https://i.imgur.com/K9MheVd.png" />
  <meta name="description" property="og:description" content="Yoda Flow App" />


block content
  div(class='landing__title')
    h1 Yoda Flow
    p your go to starwars questions and answers

  div(class='grid__container')
    div(class='grid__logo__container')
     <p>Browse questions!</p>
        img(class='grid__logo' src="/assets/Browse.png", alt="browse")
    div(class='grid__logo__container')
      <p>Ask a question!</p>
        img(class='grid__logo' src="/assets/ask.png", alt="ask")
    div(class='grid__logo__container')
      <p>Look at questions that have been asked!</p>
        img(class='grid__logo' src="/assets/question.png", alt="answer")
    div(class='grid__logo__container')
      <p>Answer other users questions, or answer your own!</p>
        img(class='grid__logo' src="/assets/answer.png", alt="answer")
