doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if locals.authenticated
      div
        a(href="/logout") logout
    else
      div
        a(href="/login") login
      div
        a(href="/signup") signup


    block content
