doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="https://kit.fontawesome.com/2e2d831eb3.js" crossorigin="anonymous")
  body

    div(class='navcontainer')
      div(class='nav')
        div(class='navbar__left')
          a(href="/")
            img(class='icon' src="/baby-yoda.png", alt="babyyodapic")
          a(class="button" href='/questions') Browse
          a(class="button" href='/questions/new') Ask

        div(class='navbar__middle')
          input(class='searchbar' type="text" placeholder="Search...")
        if locals.authenticated
          div(class='navbar__right')
            a(class="button button--red-hover" href="/logout") Log out
        else
          div(class='navbar__right')
            a(class='button' href="/login") Log in
            a(class='button' href="/signup") Sign up

    div(class='block')
      block content

    div(class='footer')
      div
        p Junyeob Lee
        div()
          a(href="")
            i(class="fab fa-github" aria-hidden="true")
          a(href="")
            i(class="fab fa-linkedin" aria-hidden="true")
          a(href="")
            i(class="fab fa-angellist" aria-hidden="true")
      div
        p Maxwell Wehner
        div
          a(href="")
            i(class="fab fa-github" aria-hidden="true")
          a(href="")
            i(class="fab fa-linkedin" aria-hidden="true")
          a(href="")
            i(class="fab fa-angellist" aria-hidden="true")
      div
        p Noah Medoff
        div
          a(href="")
            i(class="fab fa-github" aria-hidden="true")
          a(href="")
            i(class="fab fa-linkedin" aria-hidden="true")
          a(href="")
            i(class="fab fa-angellist" aria-hidden="true")
      div
        p Zhuoxin Tan
        div
          a(href="")
            i(class="fab fa-github" aria-hidden="true")
          a(href="")
            i(class="fab fa-linkedin" aria-hidden="true")
          a(href="")
            i(class="fab fa-angellist" aria-hidden="true")
