doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="https://kit.fontawesome.com/2e2d831eb3.js" crossorigin="anonymous")
  body

    div(class='navcontainer')
      div(class='nav')
        div(class='navbar__left')
          a(href="/")
            img(class='icon' src="/baby-yoda.png", alt="babyyodapic")
          a(class="button" href='/questions') Browse
          a(class="button" href='/questions/new') Ask

        div(class='navbar__middle')
          form(action=`/questions/search` method="POST" class='searchform')
            input(name='query' class='searchbar' type="text" placeholder="Search...")
        if locals.authenticated
          div(class='navbar__right')
            a(class="button button--red-hover" href="/logout") Log out
        else
          div(class='navbar__right')
            a(class='button' href="/login") Log in
            a(class='button' href="/signup") Sign up

    div(class='block')
      block content

    div(class='footer')
      div
        div Junyeob Lee
        div(class="socials")
          a(href="https://github.com/TastySatang" target='_blank')
            i(class="fab fa-github" aria-hidden="true")
          a(href="https://www.linkedin.com/in/junyeob-lee-10a87621b/" target='_blank')
            i(class="fab fa-linkedin" aria-hidden="true")
          a(href="https://angel.co/u/junyeob-lee" target='_blank')
            i(class="fab fa-angellist" aria-hidden="true")
      div
        div Maxwell Wehner
        div(class="socials")
          a(href="https://github.com/MaxwellWehner" target='_blank')
            i(class="fab fa-github" aria-hidden="true")
          a(href="https://www.linkedin.com/in/maxwell-wehner-7a2066220/" target='_blank')
            i(class="fab fa-linkedin" aria-hidden="true")
          a(href="https://angel.co/u/maxwell-wehner" target='_blank')
            i(class="fab fa-angellist" aria-hidden="true")
      div
        div Noah Medoff
        div(class="socials")
          a(href="https://github.com/NoahNim" target='_blank')
            i(class="fab fa-github" aria-hidden="true")
          a(href="https://www.linkedin.com/in/noah-medoff-6a5490116/" target='_blank')
            i(class="fab fa-linkedin" aria-hidden="true")
          a(href="https://angel.co/u/noah-medoff" target='_blank')
            i(class="fab fa-angellist" aria-hidden="true")
      div
        div Zhuoxin Tan
        div(class="socials")
          a(href="https://github.com/tan004" target='_blank')
            i(class="fab fa-github" aria-hidden="true" )
          a(href="https://www.linkedin.com/in/zhuoxin-tan-491587172/" target='_blank')
            i(class="fab fa-linkedin" aria-hidden="true" )
          a(href="https://angel.co/u/zhuoxin-tan-1" target='_blank')
            i(class="fab fa-angellist" aria-hidden="true")
