extends layout
include utils

block content
  +errorList(errors)
  form(action="/login" method="POST" )
    input(type='hidden' name='_csrf' value=csrfToken)
    +formfield("email", "Email", email, "email")
    +formfield("password", "Password", null, "password")
    button(type="submit") Login
    button(type="submit") demo user
