extends layout

block content
  div(class='form__container')
    form(class='form__inputs' action="/logout" method="post")
      button(class='form__container__button' type='submit') Log Out
      button(class='form__container__button')
        a(href="/") Cancel
