extends layout

block content
  div(class='form__container')
    form(class='form__inputs logout_form' action="/logout" method="post")
      button(class='form__container__button' type='submit') Log Out
      a(id='cancel' href="/")
        button(class='form__container__button' type="button") Cancel
