extends layout.pug
include utils.pug
block content
    form(action=`/questions/${question.id}/answer/new` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +formfield("content", "Enter a Answer Here: ", null, "textarea")
        button Submit
    button
       a(href=`/questions/${question.id}`) Cancel
