extends layout.pug
include utils.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question.css")

block content
    +errorList(errors)
    div(class="form__container-answer")
      form(action=`/questions/${question.id}/answer/new` method="post" class="form__inputs-answer")
          input(type="hidden" name="_csrf" value=csrfToken)
          +formfield("content", "Enter a Answer Here: ", null, "textarea")
          button(class="qa-button-answer form__container__button") Submit
      button(class="qa-button-answer form__container__button")
        a(href=`/questions/${question.id}`) Cancel
