extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question.css")


block content
    if locals.authenticated
        div
            button(class="qa-button")
                a(href="/questions/new") New Question
    body
        ul
            each question in questions
                li(class="question-list")
                    a(href=`/questions/${question.id}`) #{question.title}
