extends layout.pug

block content
    if locals.authenticated
        div
            button
                a(href="/questions/new") New Question
    body
        ul
            each question in questions
                li
                    a(href=`/questions/${question.id}`) #{question.title}
