extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question.css")
  //- add page specific styles by appending to the head
  script(src="/javascripts/questionVotes.js" type="module" defer)


block content
    body
        div(class="questionList__container")
            if questions.length !== 0
                each question in questions
                    li(class="question__list")
                        a(href=`/questions/${question.id}`) #{question.title}
                        div(class="vote__container")
            else
                li(class="question__list")
                        p We couldn't find anything that matches your search...

