extends layout

block content
    div
        button 
            a(href="/questions/") Questions
    div
        h1= question.title
        h3=  `Asked by: ${question.User.name}`
            ul
                li= question.content
