extends layout.pug
include utils
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question.css")


block content
    body
        +errorList(errors)
        form(action=`/questions/${question.id}/edit` method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)
            +formfield("title", "Enter A Title Here: ", question.title, "text")
            +formfield("content", "Enter a Question Here: ", question.content, "textarea")
            button(class="qa-button") Submit
        button(class="qa-button")
            a(href="/questions/") Cancel
