extends layout.pug

include utils.pug

block content
    +errorList(errors)
    form(action=`/questions/${answer.Question.id}/answer/${answer.id}/edit` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +formfield("content", "Enter a Answer Here: ", answer.content, "textarea")
        button Submit
    button
       a(href=`/questions/${answer.Question.id}`) Cancel
