.navcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 0 rgba(12, 13, 14, .15);
  background-color: #000000;
  position: fixed;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  width: 1100px;
  overflow: hidden;
}

.navbar__left {
 display:flex;
 justify-content: center;
 align-items: center;
 height: 30px;
}

.navbar__middle {
  width: 70%;
  display:flex;
  flex-direction: row-reverse;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  min-width: 140px;
}

.searchbar {
  width: 100%;
  height: 30px;
  padding: .6em .7em;
  color: black;
  background-color: #242424;
  border:none;
  border-radius: 2px;
}

.searchbar:focus {
  outline: none;
  border: 1px solid #1CC2EE;
  background-color: #343434;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.button {
  font: 13px Arial;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #a9a9aa;
  padding: .8em;
  margin: 6px 3px 6px 0px;
}

.button:hover {
  color: #1CC2EE;
}

.button--red-hover:hover{
  color: rgb(235, 26, 29);
}

.block{
position: relative;
height: 100%;
top: 60px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

