@font-face {
  font-family: 'StarJedi';
  src: url('/Starjout.ttf') format('truetype');
}



body{
  background-color:black;
  color: white;
  background-image: url('/stars.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

.navcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 0 rgba(12, 13, 14, .15);
  background-color: #242424;
  position: fixed;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  width: 1100px;
  overflow: hidden;
}

.navbar__left {
 display:flex;
 justify-content: center;
 align-items: center;
 height: 30px;
}

.navbar__middle {
  width: 70%;
  display:flex;
  flex-direction: row-reverse;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  min-width: 140px;
}

.searchbar {
  width: 100%;
  height: 30px;
  padding: .6em .7em;
  color: black;
  background-color: #242424;
  color: whitesmoke;
  border:none;
  border-radius: 2px;
}

.searchbar:focus {
  outline: none;
  border: 1px solid #1CC2EE;
  background-color: #343434;
}

.searchbar:hover {
  outline: none;
  border: 1px solid #1CC2EE;
  background-color: #343434;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.button {
  font: 13px Arial;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #a9a9aa;
  padding: .8em;
  margin: 6px 3px 6px 0px;
}

.button:hover {
  color: #1CC2EE;
}

.button--red-hover:hover{
  color: rgb(235, 26, 29);
}

.block{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
top: 60px;
}

.error__container {
  color: rgba(235, 26, 29, 1);
  background-color: #181818;
  padding: 0px 2em 2em 5px;
  border: 1px solid rgba(235, 26, 29, 1);;
  border-radius: 2px;
  box-sizing: border-box;
}

.error__container ul p {
  display:list-item;
  list-style-position: inside;
}

.form__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.form__inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30em;
  border-radius: 7px;
  background-color: whitesmoke;
  background-color: #181818;
  margin-top: 5em;
}

label{
  align-self: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7.5%;
  margin-top: 10px;
  font-weight: 600;
  color: whitesmoke;
}

#name,
#confirmPassword,
#email,
#password {
  width: 85%;
  padding: 15px 9px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #FFFFFF;
  color: black;
  border-radius: 7px;
}

#email:focus,
#password:focus {
  outline: none;
  border: 1px solid #EDD700;
  background-color: #484848;
  color: white;
}

.form__inputs2 {
 width: 30em;
 display:flex;
 justify-content: center;
}

.form__container__button {
  width: 85%;
  padding: 15px 15px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  border-radius: 7px;
  border-style: none;
  background-color: #3E3E3E;
  color: #EDBE59;
  cursor: pointer;
}

.form__container__button:hover {
  background-color: #8A8A8A;
}

#demo{
  margin-top: 3em;
  background-color: #EDBE59;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}

#demo:hover{
  background-color: #DDCC00;
}

#cancel {
  text-decoration: none;
  width: 85%;
}

#cancel .form__container__button{
    width: 100%;
}

.logout_form{
    padding-top: 25px;
}
