@import url("reset.css");
@import url("homepage.css");

h1 {
    font-family: 'StarJedi';
    color: white;
}

.grid__container {
    display:grid;
    grid-template-columns: repeat(2, 400px);
    font-family: 'StarJedi';
}

@media screen and (max-width: 1200px){
    .grid__container {
        grid-template-columns: repeat(2, 400px);
    }
}

@media screen and (max-width: 800px) {
    .grid__container {
        grid-template-columns: 400px;
    }
}

.grid__logo {
 width: 400px;
 height: auto;
}

.grid__logo__container {
    max-width: 400px;
}

.landing__title {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.landing__title > h1 {
    font-size: 50px;
}

.landing__title > p {
    font-family: 'Starjedi';
    color: white;
    font-size: 20px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.footer>div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.footer>div>div {
    font-weight: bold;
    padding-top: 10px;
}

.socials{
    display: flex;
    justify-content: center;
}

.socials>a {
    font-size: 25px;
    margin: 0 .2rem;
}

.socials>a:hover {
    color: #00C1EC;
}
