@import url('http://fonts.cdnfonts.com/css/starjedi-special-edition');
@font-face {
    font-family: 'StarJedi Special Edition';
    src: local('StarJedi Special Edition') format('truetype');
  }

a{
    text-decoration: none;
}

.qa__button{
    background-color: #DAAF59;
    color: black;
    padding: 10px 32px 7px;
    border: 1px solid #DAAF59;
    border-radius: 4px;
    font-family: 'Star Jedi Outline', sans-serif;
}

.question__list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    font-family: 'StarJedi Special Edition';
    color: rgb(0, 174, 255)
}

.question__list > a{
    font-size: 24px;
}

.question__list > a:hover{
    color: rgb(0, 21, 255)
}

#ask__button > a:hover{
    font-size: 30px;
}