@font-face {
  font-family: "Star Jedi Outline";
  src: url("/Starjout.ttf") format("truetype");
}
@font-face {
  font-family: "StarJedi Special Edition";
  src: url("/STJEDISE.TTF") format("truetype");
}

a {
  text-decoration: none;
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

a {
  text-decoration: none;
}

.qa__button {
  background-color: #daaf59;
  color: black;
  padding: 10px 15px 7px;
  border: 1px solid #daaf59;
  border-radius: 4px;
  font-family: "Star Jedi Outline", sans-serif;
  margin: 5px;
  cursor: pointer;
}

.question__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  font-family: "StarJedi Special Edition";
  color: rgb(0, 174, 255);
  border-bottom: 1px solid #bbbbbb10;
  align-items: center;
}

.question__list > a {
  font-size: 24px;
  overflow-x: hidden;
  width: 90%;
}

.question__list > a:hover {
  color: hsl(199, 100%, 68%);
}

#ask__button > a:hover {
  font-size: 30px;
}

.questionList__container {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  margin: 10px;
  border-radius: 7px;
  width: 60%;
}

#content {
  width: 85%;
  padding: 15px 9px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  border-radius: 7px;
  height: 200px;
}

#title {
  width: 85%;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  border-radius: 7px;
  font-family: "StarJedi Special Edition";
}

.form__container-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  background-color: #181818;
  margin-top: 3em;
  border-radius: 7px;
}

.form__inputs-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30em;
  border-radius: 7px;
}

.form__container-answer {
  font-family: "StarJedi Special Edition";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 390px;
  background-color: #181818;
  margin-top: 3em;
  border-radius: 7px;
}

.form__inputs-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30em;
  border-radius: 7px;
}

.qa-button-answer {
  background-color: #daaf59;
  color: black;
  padding: 10px 15px 7px;
  border: 1px solid #daaf59;
  border-radius: 4px;
  font-family: "Star Jedi Outline", sans-serif;
  margin: 5px;
  cursor: pointer;
}

.form__container-answer label {
  color: rgb(0, 174, 255);
}

.delete:hover,
.cancel:hover {
  background-color: #990000;
  border-color: #990000;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.questionDetail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  height: 100%;
  margin-top: 3em;
  border-radius: 7px;
  align-items: flex-start;
  width: 85%;
}

.questionDetail__container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

h3 {
  font-size: 10px;
  margin: 1px 5px;
  padding: 2px;
}

.questionContent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #bbbbbb10;
  word-wrap: break-word;
  margin: 10px 10px 0px 10px;
  width: 90%;
  height: 100%;
  padding: 10px 10px 0px 10px;
  border-radius: 7px;
  background-color: #bbbbbb10;
  font-family: "DIN Next W01 Light";
  line-height: 1.4;
  font-size: 24px;
}

.edit {
  width: 50px;
  height: 30px;
  padding: 0px;
}

.edit:hover {
  background-color: #588443;
  border-color: #588443;
}

.delete {
  width: 60px;
  height: 30px;
  padding: 0px;
}

.total__div-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
  box-sizing: border-box;
  padding: 0px 10px 10px 10px;
}

.answer {
  padding: 2px;
}

.answerDetail__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #bbbbbb10;
  word-wrap: break-word;
  margin: 10px;
  width: 90%;
  height: 100%;
  padding: 10px;
  border-radius: 7px;
  background-color: #bbbbbb10;
  font-family: "DIN Next W01 Light";
  line-height: 1.4;
  font-size: 24px;
}

.answerDetail__container > p {
  font-size: 20px;
  margin: 1px 5px;
  padding: 2px;
}

h1 {
  margin: 1px 5px;
  padding: 2px;
}

.questionTitle {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.answer:hover {
  background-color: #15f2fd;
  border-color: #15f2fd;
}

.submit:hover {
  background-color: #2ff924;
  border-color: #2ff924;
}

.active {
  background-color: green;
}

.vote__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: space-between;
  text-align: center;
}

.questionAndVote__container {
  display: flex;
}

#question_downVote.active img {
  content: url("/downvote_active.png");
}

#question_upVote.active img {
  content: url("/upvote_active.png");
}

#question_downVote img {
  width: 20px;
  height: 20px;
  content: url("/downvote_null.png");
}

#question_upVote img {
  width: 20px;
  height: 20px;
  content: url("/upvote_null.png");
}

#question_downVote,
#question_upVote {
  background: transparent;
  border: none;
}
